<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!-- SQL SERVER 2012-->
    <add name="DB" connectionString="Data Source=DELL\MSSQLSERVER12;Initial Catalog=smmuntidar;User ID=sa; Password=Pass"/>
    <add name="DB" connectionString="Data Source=DELL\MSSQLSERVER12;Initial Catalog=ukt;Integrated Security=True"/>
    <add name="DB" connectionString="Data Source=DELL\MSSQLSERVER12;Initial Catalog=pmdk;Integrated Security=True"/>

      <!--<add name="sm-untidar" connectionString="Data Source=localhost;Initial Catalog=smmuntidar;Integrated Security=True"/>
      <add name="UKT" connectionString="Data Source=localhost;Initial Catalog=ukt;Integrated Security=True"/>
      <add name="PMDK" connectionString="Data Source=localhost;Initial Catalog=pmdk;Integrated Security=True"/>-->

      <!-- SQL SERVER 2008 -->
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.13.5463.15277" newVersion="5.13.5463.15277"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="pmb_untidar.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>